*{
    border: 1px solid black;
    background-color: rgb(185, 196, 206);
    margin: 0px;
    color: rgb(77, 118, 155);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.pudmleko{
    width: 100vw;
    height: 100vh;
}
.gora{
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;

}
.input{
   width: 100%;
   height: 40%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.tekst{
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wpisz{
    width: 70%;
    height: 80%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wpisanie{
    height: 50%;
    width: 30%;
    font-size: 30px;
    border-color: aqua; 
}
#wpisanie:focus{
   background-color: rgb(159, 171, 182);
   color: rgb(75, 129, 129);
   outline: 0px;
}
.smrf{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p{
    width: 80%;
    height: 80%;
}
.dol{
    width: 100%;
    height: 200%;
}
#sm{
    width: 85%;
    height: 70%;
}
.audio{
    display: none;
}